*{
    font-family:sans-serif,arial;
}

a{
    text-decoration: none;
    color:white;
   

    
}


#show{
    display:none;
}
#theme{
    z-index: 1;
}
#theme:hover #show{
    display:inline-block;
    position:absolute;
    z-index: 2;
    background-color: #13474d;
    padding:2px;
    height:fit-content;
    width:fit-content;
    
}

.ht{
    background-color: #13474d;
    color:white;
    height:fit-content;
    padding:2px;
    border:2px;
    
    
}
.ht button{
    background-color: #13474d;
    color:white;
    border:2px;
}

.ht:hover{
    background-color: white;
}


.ht:hover button{
    background-color: white;
    color:#13474d;
  
}





#header{
    background-color:#77B0AA;
    padding:2px;
    display:inline-block;
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-size:15px;
    margin-top:4px;
    
}



#pagechange{
    
    display:inline-block;
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:fit-content;

    width:100%;
    margin-top:20px;

    
    
}



.pagecbutton{
    color:#13474d;
    text-decoration: none;
    
    background-color: transparent;
    border:0px;
  
    height:fit-content;
    font-size:90%;
    width:30%;
   
}

#buright{
    display:inline-block;
    background-size:cover;
    background-image: url("right.png");
    height:30px;
    width:30px;
    border:none;
    background-color: transparent;
    
}


#buleft{
    display:inline-block;
    background-size:cover;
    background-image: url("left.png");
    height:30px;
    width:30px;
    border:none;
    background-color: transparent;
}



#pchangec{
    display:none;
}

#pchangeco{
    display:none;
}

#conv{
    font-weight: bolder;
    text-decoration: underline;
}





#title{
    color:white;
    background-color:#003C43;
    text-align:center;
    padding:15px 3px 3px 3px;
    font-size:55px;
}
#body{
    margin:40px;
    text-align:center;
    background-color:#77B0AA;
    padding:10px;
    border-radius:14px;
    display:flex;
    justify-content: space-around;
    
    
}

input{
    margin:2px 1px 1px 3px;
    height:50px;
    width:50%;
    border:3px solid black;
    border-radius:15px;
    text-align: center;
    font-size:2em;
    
    
}



    
    

#convert{
    color:white;
    background-color:#003C43;
    height:50px;
    width:200px;
    border:2px solid #77B0AA;
    border-radius:10px;


}
#answer{
    color:#13474d;
    font-size:50px;
}
#answerdiv{
    display:none;
    border:6px solid #0ddcf3;
    border-radius:10px;
    height:fit-content;
    width:fit-content;
    padding:3px 30px 3px 30px ;
    margin-bottom:40px;

}

#answer2{
    color:#13474d;
    font-size:50px;
}
#answerdiv2{
    display:none;
    border:6px solid #0ddcf3;
    border-radius:10px;
    height:fit-content;
    width:fit-content;
    padding:3px 30px 3px 30px ;
    margin-bottom:40px;

}
#p{
    font-size: 30px;
}
